
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
// adding Hello Bar notice 
<script src="//my.hellobar.com/6c5b1d52f5b5436c49c0887f08d8f1ccdbcd5c7d.js" type="text/javascript" charset="utf-8" async="async"></script>

<p class="copyright text-muted">Copyright &copy; Blogwith 2014</p>
