<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/index-bg.jpeg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Blogwith allows you to publish and manage content from Evernote to Wordpress.</h1>
                    <h2 class="subheading">Supporting Platform: Wordpress and Self Hosted Wordpress</h2>
                    <a href="/auth/evernote"><img src="https://dev.evernote.com/foundation/images/connect_evernote_button.png" width="231" width="231" /></a>

                    <!-- <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span> -->
                </div>
            </div>
        </div>
    </div>
</header>